<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Estimate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Invoice Free.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Invoice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Purchase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Quote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Receipts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Timesheets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB0F3DC5197F941C00A3B637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB28ED5117BA5569005F2166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBE92E217F31A9E0063798E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBE938617F31C4D0063798E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBE942A17F31CB70063798E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBCC890F19385C86004DCB66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBD89579197FA0F400C1D210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
